.ColorPicker{
  display: flex;
}

.ColorPicker__swatch{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 3px;
  border: 1px solid gray;
  cursor: pointer;

  &:hover{
    border: 3px solid gray;
  }

  &.selected{
    border: 3px solid gray;
  }
}
